<html>
    <head>
        <title>ayyoa.ml</title>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    </head>

    <body>
        <div id="main">
            {% if session.username %}
                <h1>ayy oa.ml - <b>{{ session.username }}</b></h1>
            {% else %}
                <h1>ayy oa.ml</h1>
            {% endif %}

            <div id="links">
                <span class="link">
                    <a href="{{ url_for('index') }}">home</a>
                </span>
                    {% if not session.session_id %}

                    <span class="link">
                        <a href="{{ url_for('login') }}">log in</a>
                    </span>

                    <span class="link">
                        <a href="{{ url_for('register') }}">register</a>
                    </span>

                    {% else %}

                    <span class="link">
                        <a href="{{ url_for('logout') }}">log out</a>
                    </span>

                    {% endif %}

                    {% block body %} {% endblock %}
            </div>
        </div>
    </body>
</html>
