{% extends "layout.html" %}
{% block body %}
    {% if error %}
        <p style="color: red;">{{ error }}</p>
    {% endif %}

    <p>Please enter your login credentials</p>

    <form action="{{ url_for("login") }}" method="POST">
        <table>
            <tr>
                <td>Username:</td> <td><input type="text" name="username" id="username" required /></td>
            </tr>

            <tr>
                <td>Password:</td> <td><input type="password" name="password" id="password" required /></td>
            </tr>

            <tr>
                <td><input type="submit" value="Login" /></td>
            </tr>
        </table>
    </form>
{% endblock %}
